<div class ="title">
<h1 align="center" class="display-3 text-primary">Log in <h1>
</div>
</br>
</br>
</br>
<div class = "container">
<%= form_tag sessions_path do %>

  <div>
    <%= label_tag :email %> <br />
    <%= text_field_tag :email %>
  </div>

  <div>
     <%= label_tag :password %><br />
     <%= password_field_tag :password %>
  </div>

  <div>
    <%= submit_tag "Log In" %>
  </div>

<% end %>
</div>