<div class ="title">
<h1  class="display-3 text-primary"> <br/> Edit User <h1>
</div>

<div class = "container">
<%= form_for @user, :html=> {:onsubmit => "return validateUserEdit()"}  do |f|%>
    <div>
    <div class = "nameSign"> </div> 
    <p>
    <%=f.label :name%><br>
    <%=f.text_field :name %>
    </p>
    </div>

    <div>
    <div class = "emailSign"> </div> 
    <%= f.label :email %> <br/>
    <%= f.text_field :email ,:disabled => true %>
    </div>
  
    <div>
       <%= f.label :password %><br/>
       <%= f.password_field :password %>
    </div>
  
    <div>
       <%= f.label :password_confirmation %><br/>
       <%= f.password_field :password_confirmation %>
    </div>
  
    <div>
      <%= f.submit "Update", data: { disable_with: false } %>
    </div>

<% end %>
</div>