<div class ="title">
<h1  class="display-3 text-primary"> Edit User <h1>
</div>

<div class = "container">
<%= form_for @user do |f|%>
    <div>
    <p>
    <%=f.label :name%><br>
    <%=f.text_field :name %>
    </p>
    </div>

    <div>
    <%= f.label :email %> <br/>
    <%= f.text_field :email %>
    </div>
  
    <div>
       <%= f.label :password %><br/>
       <%= f.password_field :password %>
    </div>
  
    <div>
       <%= f.label :password_confirmation %><br/>
       <%= f.password_field :password_confirmation %>
    </div>
  
    <div>
      <%= f.submit "Update" %>
    </div>

<% end %>
</div>