<% if current_user == nil   %>
    <p> You are not signed in. </p>
 <% elsif @user.items.any?  %> 
    <p> you have not posted any items yet. </p> 
<% else %>
<h1> All of your posts </h1>

<% @user.items.each do |item| %> 


<p>Title: <%= link_to item.title, "/items/#{item.id}" %> </p> 

<p> Location: <%=item.location %> </p>

<p> image: </p> <%= link_to image_tag(item.image_url) , "/items/#{item.id}" %>

<p>Category: <%=item.category %> </p>

<p>Price: $<%=item.price_cents %> </p> 

<p>Description: <%=item.description %> </p> 






<% end %>
<% end %>
