<br/>
<div class = "container">
<br/>
<br/>
<%= link_to "Edit Your Account", "/users/#{current_user.id}/edit" %> 
<%= link_to "Watch List", "/users/watching" %>
</div>


<% if current_user == nil   %>
    <p> You are not signed in. </p>
 <% elsif current_user.items.empty?  %> 
    <p> you have not posted any items yet. </p> 
<% else %>
<br/>
<br/>
<div class ="title">
<h1 align="center" class="display-3 text-primary"> All of your posts <h1>
</div> 

<div class = "container">

<% current_user.items.reverse.each do |item| %> 


<p>Title: <%= link_to item.title, "/items/#{item.id}" %> </p> 
<% if item.image.present?%>
 <%= link_to image_tag(item.image_url) , "/items/#{item.id}" %>
<% end %>
<p> Location: <%=item.location %> </p>


<p>Category:</p><% if item.category == "Sports_And_Outdoors"%> <p>Sports And Outdoors</p>
<% elsif item.category == "Womens_Clothing" %> <p> Womens Clothing </p>
<% elsif item.category == "Mens_Clothing" %> <p> Mens Clothing </p>
<%else%>
<p> <%=item.category%> </p>
<%end %>

<p>Price: $<%=item.price_cents %> </p> 

<p>Description: <%=item.description %> </p> 
<% end %>
<% end %> 

</div>






<% puts @items %>