<% if current_user == nil   %>
    <p> You are not signed in. </p>
<% elsif @items.items.any? %> 

<h1> All of your posts </h1>

<% @items.each do |item| %> 


<p>Title: <%=item.title %> </p> 

<p> Location: <%=item.location %> </p>

<p>Category: <%=item.category %> </p>

<p>Price: <%=item.price %> </p> 

<p>Description: <%=item.description %> </p> 

<% else %>
<p> you have not posted any items yet. </p> 

<% end %>
<% end %>
