<br/><br/><br/>
<div class ="title">
<h1 align="center" class="display-3 text-primary">Sign up <h1>
</div>

<div class = "container">
<%= form_for @user, :html=> {:onsubmit => "return validateUser()"} do |f| %>

    <div>
    <div class = "nameSign"> </div> 
      <%= f.label :name %> <br/>
      <%= f.text_field :name %>
    </div>

    <div>
    <div class = "emailSign"> </div> 
    <%= f.label :email %> <br/>
    <%= f.text_field :email %>
    </div>
  
    <div>
    <div class = "passwordSign"> </div> 
       <%= f.label :password %><br/>
       <%= f.password_field :password %>
    </div>
  
    <div>
    <div class = "passwordConfirmationSign"> </div> 
       <%= f.label :password_confirmation %><br/>
       <%= f.password_field :password_confirmation %>
    </div>
  
    <div>
      <%= f.submit "Save", data: { disable_with: false } %>
    </div>

    </div>
<% end %>
