<h1> Items to be Taken: <h1>


<h3> Search the Items</h3>

<%= search_form_for @q do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title_cont, class: 'form-control' %>
    
    

    <div class="form-group"><%= f.label :category %>
<%= f.text_field :category_cont, class: 'form-control' %></div>

<div class="form-group"><%= f.label :location %>
<%= f.text_field :location_cont, class: 'form-control' %></div>

    <div class="form-group"><%= f.label :price_cents, "Price" %>
    <%= f.label :price_cents_qteq, "Least Amount" %><%= f.text_field :price_cents_gteq, class: 'form-control' %>
    <%= f.label :price_cents_lteq, "Most Amount" %><%= f.text_field :price_cents_lteq, class: 'form-control' %></div>


    <%= f.submit class: 'btn btn-primary' %>
<% end %>


    <%= link_to "Clear", request.path, class: "btn btn-default" %><br>


<% @items.reverse.each do |item| %> 
     <% if item.image.present?%>
    <%= link_to image_tag(item.image_url) , "/items/#{item.id}"  %>
    <h3>Title: </h3><h5> <%= link_to item.title,  "/items/#{item.id}" %>  </h5> 
   <h3>Price:</h3><p> $<%=item.price_cents %> </p>
   <% end %>
   <h3>Category:</h3><p><%=item.category %> </p>
   <h3>Location: </h3><p><%= item.location%> </p>

   <p>--------------------------------------------------------------------------------</p>
<% end %>


<h1> <%= link_to  "about" , "/items/about" %> </h1>

