

<div class ="title">
<h1 class="display-2 text-white bg-dark p-3 mb-2 bg-secondary text-white"> Items to be Taken <h1>
</div>
<br/>
<div class ="container">
<h5> Top Item </h5>
<% if @top && @top.image.present?%>
    <%= link_to image_tag(@top.image_url) , "/items/#{@top.id}"  %>
<% end %>
<% if @top %>
<h3>Title: </h3><h5> <%= link_to @top.title,  "/items/#{@top.id}" %>  </h5> 
<h3>Price:</h3><p> $<%=@top.price_cents %> </p>
<h3>Location: </h3><p><%= @top.location%> </p>
<% end %>


<br/> <br/> <br/>
<h3> Search the Items</h3>
<%= search_form_for @q do |f| %>
      <div class="form-group"><%= f.label :category %><br/>
<%= f.select(:category_cont, options_for_select([['Choose a Category'],['Electronics', 0], ['Jewelry', 1], ['Kitchen', 2], ['Womens Clothing', 3],['Mens Clothing', 4],['Watches', 5], ['Sports And Outdoors', 6], ['Other', 7]])) %></div>

<%= f.label :title %>
    <%= f.text_field :title_cont, class: 'form-control' %>

<div class="form-group"><%= f.label :location %>
<%= f.text_field :location_cont, class: 'form-control' %></div>

    <div class="form-group"><%= f.label :price_cents, "Price" %>
<%= f.label :price_cents_qteq, "Least Amount" %><%= f.text_field :price_cents_gteq, class: 'form-control' %>
<%= f.label :price_cents_lteq, "Most Amount" %><%= f.text_field :price_cents_lteq, class: 'form-control' %></div>


    <%= f.submit class: 'btn btn-primary' %>

<% end %>


    <%= link_to "Clear", request.path, class: "btn btn-default" %><br>


<% @items.reverse.each do |item| %> 
     <% if item.image.present?%>
    <%= link_to image_tag(item.image_url) , "/items/#{item.id}"  %>
    <% end %>
    <h3>Title: </h3><h5> <%= link_to item.title,  "/items/#{item.id}" %>  </h5> 
   <h3>Price:</h3><p> $<%=item.price_cents %> </p>
   <h3>Category:</h3><% if item.category == "Sports_And_Outdoors"%> <p>Sports And Outdoors</p>
   <% elsif item.category == "Womens_Clothing" %> <p> Womens Clothing </p>
   <% elsif item.category == "Mens_Clothing" %> <p> Mens Clothing </p>
   <%else%>
   <p> <%=item.category%> </p>
   <%end %>
   <h3>Location: </h3><p><%= item.location%> </p>

   <p>--------------------------------------------------------------------------------</p>
<% end %>


<h1> <%= link_to  "about" , "/items/about" %> </h1>

</div>