<h1> Items to be Taken: <h1>



<h3> Search the titles</h3>

<%= form_tag items_path, method: :get do %>
    <%= text_field_tag :title, params[:title] %>
    <%= text_field_tag :category, params[:category] %>
    <%= submit_tag "Search", name: nil %>
<% end %>

<%=form_tag searches_path, :method => 'get' do%>
<%=text_field_tag :search ,params[:search]%>
<%= submit_tag "search"%>
<%end%>

<%-#<%=form_tag searches_path, :method => 'get' do%>
<%=text_field_tag :search ,params[:search]%>
<%= submit_tag "search"%>
<%end%>-%>

<%= link_to "Advanced Search", new_search_path %>

<% @items.each do |item| %> 
   <h3>Title: </h3><p> <%= item.title %> </p> 
   <h3>Price:</h3><p><%=  humanized_money_with_symbol item.price %> </p>
   <h3>Category:</h3><p><%=item.category %> </p>
   <h3>Location: </h3><p><%= item.location%> </p>
   <h3>Description: </h3><p><%= item.description%> </p>
   <p>--------------------------------------------------------------------------------</p>
<% end %>


