<br/> <br/> <br/>

<div class ="title">
<h1 align="center" class="display-3 text-primary">New Item <h1>
</div>

<div class = "container">
<%= form_for  @item, :html=> {:onsubmit => "return validateItem()"} do  |f|  %>
   <div class = "titleNew"></div>
    <div>
      <%= f.label :Title %>
      <%= f.text_field :title %>
    </div>

    <div>
    <% if @item.image.present?%>
    <%= image_tag @item.image_url %>
    <% end%>
    </div>

    <div> 
    <%=f.label :image %>
    <%= f.hidden_field :image, value: @item.cached_image_data%>
    <%= f.file_field :image%>
    </div>

    <div class = "locationNew"></div>
    <div>
      <%= f.label :Location %>
      <%= f.text_field :location %>
    </div>

    <div>
      <%= f.label :Category %>
      <%= f.select(:category, options_for_select([['Electronics', 'Electronics'], ['Jewelry', "Jewelry"], ['Kitchen', 'Kitchen'], ['Womens Clothing', 'Womens_Clothing'],['Mens Clothing', 'Mens_Clothing'],['Watches', 'Watches'], ['Sports And Outdoors', 'Sports_And_Outdoors'], ['Other', 'Other']])) %>
    </div>

    <div class = "priceNew"></div>
    <div>
    <%= f.label :Price %>
    <%= f.text_field :price_cents %>

    <div class = "descriptionNew"></div>
      <%= f.label :Description %>
      <%= f.text_area :description %>
    </div>
  
    <%= f.submit data: { disable_with: false } %>
  <% end %>
  
  </div>