<div class ="title">
<%-# <h1  class="display-3 text-primary"> Item to be Taken <h1> -%>
</div>

<div class = "container">
<h5> This Item has <%=@watchers%> <%=@person%>  </h5>

<% if current_user %>
<p><%=  link_to "#{@watch}" , "/items/watch/#{@item.id}" %> </p>
<% else %>
<p> <%=link_to "Sign in And Start Adding Items to Your Watch List!", new_session_path %> </p>
<% end %>

   <h3>Title: </h3><p> <%= @item.title %> </p> 
   <% if @item.image.present?%>
      <%= image_tag @item.image_url %>
   <% end %>
   <h3>Price:</h3><p>$<%=  @item.price_cents %> </p>
   <h3>Category:</h3><% if @item.category == "Sports_And_Outdoors"%> <p>Sports And Outdoors</p>
   <% elsif @item.category == "Womens_Clothing" %> <p> Womens Clothing </p>
   <% elsif @item.category == "Mens_Clothing" %> <p> Mens Clothing </p>
   <%else%>
   <p> <%=@item.category%> </p>
   <%end %>
   <h3>Location: </h3><p><%= @item.location%> </p>
   <p>
<%=image_tag "https://maps.googleapis.com/maps/api/staticmap?center=#{@item.location}&zoom=13&size=400x200&maptype=roadmap&markers=color:blue%7Clabel:S%7C40.702147,#{@item.location}&key=#{@key}"%> 
</p>
   <h3>Description: </h3><p><%= @item.description%> </p>
<% if @item.user == current_user%> 

<p> <%= link_to "edit post" , edit_item_path(@item)%></p>
<p> <%= link_to "delete post", item_path(@item), method: :delete %></p>
<% end %>

 

<h1> The Giver: </h1>

    <h3>Name:</h3><p><%=@user.name %></p>
    <h3>Email:</h3><p> <%=@user.email %></p>
</div>