<!DOCTYPE html>
<html>
  <head>
    <title>Give And Take</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

     
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> 
      

      <%-# for Bootsrap: -%>      
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  
  <body>
  <header>
  <%-# test nav bar -%>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">Hidden brand</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

  <%-#  -%>
  <nav class="navbar navbar-expand-lg navbar-light bg-light, navbar navbar-light"style="background-color: #e3f2fd;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarTogglerDemo01">

  <a class="navbar-brand" href="/users/items">Give And Take</a>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <% if current_user %>
      <li class="nav-item active">
      <a class="nav-link" href= "/users/:id"> Logout <span class="sr-only">(current)</span></a> <form method="delete">

            <%= link_to "Logout", session_path("current"), method: :delete %>  | &nbsp
        <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
      <%= link_to  "About" , "/items/about" %> | &nbsp <span class="sr-only">(current)</span></a>
    </li>

      <li class="nav-item active">
        <%= link_to "Home", root_path %> | &nbsp <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
         <%= link_to "New Post", new_item_path %>  | &nbsp <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <%= link_to "View Your Account", items_users_path %>   &nbsp <span class="sr-only">(current)</span></a>
    </li>
  <% else %> 
  
  <li class="nav-item active">
  <%= link_to  "About" , "/items/about" %> | &nbsp <span class="sr-only">(current)</span></a>
</li>

<li class="nav-item active">
<%= link_to "Login", new_session_path %>   | &nbsp <span class="sr-only">(current)</span></a>
</li>


<li class="nav-item active">
<%= link_to "Signup", new_user_path %>  | &nbsp <span class="sr-only">(current)</span></a>
</li>

  <li class="nav-item active">
  <%= link_to "Home", root_path %>  &nbsp <span class="sr-only">(current)</span></a>
</li>

      <% end %>
  </div>
</nav>
  </header>
  

  <% if flash[:alert] %>
    <p>Oops - there were problems with your submission. Please fix the following:</p>
    <ul>
      <% [flash[:alert]].flatten.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
    <%= yield %>
  </body>
</html>
